.notification .accordion-item:last-of-type .accordion-button.collapsed {
    /* border-bottom-right-radius: var(--bs-accordion-inner-border-radius); */
    /* border-bottom-left-radius: var(--bs-accordion-inner-border-radius); */
    background-color: #ededf6;
    /* border: #f0f0f0; */
    color: #070606;
    font-size: 20px;
    font-style: bold;
    font-weight: bold;
}

.notification .accordion-button::after {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.notification .accordion-button:focus {
    z-index: 3;
    /* border-color: var(--bs-accordion-btn-focus-border-color); */
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.notification .accordion-button:not(.collapsed) {
    background-color: #ededf6;
    /* border: #f0f0f0; */
    color: #070606;
    font-size: 20px;
    font-style: bold;
    font-weight: bold;
}

.notification .accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    background-color: #ededf6;
    color: #070606;
}