.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: red;
    border-color: black;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid black;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: red;
    border-color: bisque;
    outline: none;
}


.form-field {
    position: relative;
    display: inline-block;
    border: black;
}


input:active,
input:focus {
    outline: none;
    border: black;
}

.height {
    height: 150px;
}

input[type="date"] {
    width: -webkit-fill-available;
}